body{
  background-color:#A3F9DF  ;
}
.m{
  background-color: #BE0EF2    ;
  display: flex;
  justify-content: space-around;
  margin: 2%;
  padding: 1%;
}
.l{
  background-color: #98dedd;
    width:25%;
    margin:2%;
    padding: 2%;
    background-color:#DC7819    ;
    text-align: center;
    border-radius: 5%;
}
.r{
  background-color: #98dedd;
    width:65%;
    margin:2%;
    padding:10%;
    background-color:#DC1957  ;
    border-radius: 5%;
}
img{
  width:100%;
  border-radius: 10%;
}
table{
  border: 1px solid black;
}
